.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
  }
  
  .welcome{
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hello{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
  }
  
  .hello.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }
  
  .hello.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }